* {
  font-family: 'NotoSans KR', '-apple-system', 'Malgun Gothic',
    'Apple SD Gothic Neo', 'Roboto', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'sans-serif';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  font-size: 14px;
  color: #454545;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

input {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
  border: 0;
}
